.*.swp
._*
.DS_Store
.git
.githooks
.vscode
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
node_modules
CVS
npm-debug.log
tsconfig.json
tslint.json
tests
src
coverage
.nyc_output
.travis.yml
package-lock.json
